{% extends 'base.html.twig' %}



{% block title %}Реклама-маркет. Производство наружной рекламы.{% endblock title %}

{% block body %}


    <div id="homepage_mount_node"></div>



{% endblock body %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('build/homepage.js') }}"></script>

{% endblock javascripts %}