.Homepage{

  .Test{

    width: 100%;
    height: 100px;

    margin-top: 200px;

    display: flex;

    justify-content: center;
    align-items: center;

    .TestItem{

      display: flex;

      justify-content: center;
      align-items: center;

      height: 100%;

      flex-grow: 1;

      background-color: white;

      border: 1px solid #cfbeff;



    }

  }


}