{% extends 'base.html.twig' %}



{% block title %}Широкоформатная печать.{% endblock title %}

{% block body %}


    <div id="print_mount_node"></div>

    <main>

        

    </main>

    <footer>



    </footer>

{% endblock body %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('build/largeFormatPrint.js') }}"></script>

{% endblock javascripts %}