.HtmlParser{

  padding-top: 10px;
  max-width: 1000px;
  margin: auto;

  .Wrapper{



  }

  .Title{

    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;

  }

  .Paragraph{

    padding: 5px 10px 10px 10px;

    text-align: justify;
    text-indent: 20px;

  }

  .List{

    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;

    .Item{

    }

  }

  .Link{
    text-decoration: none;
    color: #deb0ff;
  }

}