.Scroller{

  //width: 100%;

  overflow: hidden;

  touch-action: pan-y;

  //background-color: #fbfcfa;
  //border-top: 1px solid black;
  //border-bottom: 1px solid black;

  //border: 1px solid #cdcdcd;


  .ItemsList{

    //width: 100%;

    list-style: none;

    display: flex;

    .Item{

      //min-height: 150px;

      //padding: 10px 10px 20px 10px;

      //text-align: center;

      //background: linear-gradient(45deg, pink, cyan);

      flex-grow: 0;
      flex-shrink: 0;

      //background: linear-gradient(45deg, #e5d4ff, #ffd7cf);




    }

    //padding: 20px;

  /*  .Item{

      width: 200px;
      //min-height: 150px;

      padding: 10px 10px 20px 10px;

      text-align: center;

      //background: linear-gradient(45deg, pink, cyan);

      flex-grow: 0;
      flex-shrink: 0;

      //background: linear-gradient(45deg, #e5d4ff, #ffd7cf);


      .Content{

        //border: 1px solid gray;
        background-color: white;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

        padding-top: 15px;
        padding-bottom: 15px;

      }

    }*/

  }

}