.MainPresentation{

  background-color: #fafafa;
  //background: linear-gradient(45deg, #fff2ef, #f3eaff);
  border-bottom: 1px solid black;

  .Arrows{

    display: none;

    .ArrowsSize{

      width: 100px;
      height: 300px;

    }


  }

  .MobileControls{

    position: relative;


  }

  .Item{

    width: 100%;
    min-width: 300px;
    min-height: 300px;

    text-align: center;

    //background: linear-gradient(45deg, pink, cyan);

    flex-grow: 0;
    flex-shrink: 0;


    .Content{

      //width: 1000px;
      margin: auto;

      padding-top: 20px;
      padding-bottom: 60px;

      .Paragraph{

        padding: 20px;
        text-align: justify;
        text-indent: 20px;

      }

      .Link{

        font: inherit;
        color: black;

        display: block;
        width: 150px;

        margin: auto;


        text-align: center;
        text-decoration: none;
        font-weight: bold;

        border: 2px solid black;
        border-radius: 20px;

        background-color: transparent;

        padding-top: 10px;
        padding-bottom: 10px;

      }


    }


  }


}

@media(min-width: 1000px){


  .MainPresentation{

    .Arrows{

      display: block;
      width: 100%;

      .ArrowsSize{

        width: 100px;
        height: 400px;

      }

    }

    .Item{

      width: 100%;
      min-height: 400px;

      text-align: center;

      //background: linear-gradient(45deg, pink, cyan);

      flex-grow: 0;
      flex-shrink: 0;

      .Content{

        width: 1000px;
        margin: auto;

        padding-top: 20px;

        .Paragraph{

          padding: 20px;
          text-align: justify;
          text-indent: 20px;

        }

        .Link{

          font: inherit;
          color: black;

          display: block;
          width: 150px;

          margin: auto;


          text-align: center;
          text-decoration: none;
          font-weight: bold;

          border: 2px solid black;
          border-radius: 20px;

          background-color: transparent;

          padding-top: 10px;
          padding-bottom: 10px;

        }


      }


    }


  }


}

