.CloseButton{


  border: none;
  background: transparent;
  //border-radius: 60px;

  align-self: center;



  cursor: pointer;

  .Svg{
    width: 30px;
    height: 30px;

    padding: 20px;

  }

}